@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

Lists:
@foreach (var title in ViewBag.Lists)
{
    <li>@title</li>
}

<p>Use this area to provide additional information.</p>
